@model System.Linq.IQueryable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewBag.Title = "Список ролей";
    Layout = "_Layout";
}

<h2>Список ролей</h2>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<a asp-action="Create" class="btn btn-sm btn-danger">Добавить роль</a>
<a asp-action="UserList" class="btn btn-sm btn-danger">Список пользователей</a>
