@model BimDataControlPanel.WEB.ViewModels.Change.CreateChangeViewModel

@{
    ViewBag.Title = "Создать изменение";
    Layout = "_Layout";
}

<h2>Создать изменение</h2>

<form asp-action="Create" asp-controller="Changes" method="post">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <input type="hidden" asp-for="ChangeDto.ProjectId" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="ChangeDto.Description" class="control-label">Описание изменения</label>
        <input type="text" asp-for="ChangeDto.Description" class="form-control"/>
        <span asp-validation-for="ChangeDto.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RevitUserInfos" class="control-label">Ник в ревите</label>
        <select asp-for="RevitUserInfos" class="form-control">
            @foreach (var userInfo in Model.RevitUserInfos)
            {
                <option value="@userInfo.Name">@userInfo.Name</option>
            }
        </select>        
        <span asp-validation-for="RevitUserInfos" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ChangeDto.ChangeType" class="control-label">Тип изменения</label>
        <input type="text" asp-for="ChangeDto.ChangeType" class="form-control"/>
        <span asp-validation-for="ChangeDto.ChangeType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ChangeDto.ChangeTime" class="control-label">Время изменения</label>
        <input type="datetime-local" asp-for="ChangeDto.ChangeTime" class="form-control"/>
        <span asp-validation-for="ChangeDto.ChangeTime" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Добавить проект</button>
</form>

<a class="btn btn-danger" asp-controller="Changes" asp-action="Index" asp-route-id="@Model.ChangeDto.ProjectId">Назад</a>