@model BimDataControlPanel.BLL.Dtos.Change.ChangeDto

@{
    ViewBag.Title = "Изменить информацию об изменениях";
    Layout = "_Layout";
}

<h2>Изменить информацию об изменениях</h2>

<form asp-action="Edit" asp-controller="Changes" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="ProjectId"/>
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="Id"/>
    </div>
    <div class="form-group">
        <label asp-for="UserRevitName" class="control-panel">Ник нейм пользователя</label>
        <input type="text" asp-for="UserRevitName" class="form-control"/>
        <span asp-validation-for="UserRevitName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-panel">Описание</label>
        <input type="text" asp-for="Description" class="form-control"/>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ChangeTime" class="control-panel">Время </label>
        <input type="datetime-local" asp-for="ChangeTime" class="form-control"/>
        <span asp-validation-for="ChangeTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ChangeType" class="control-panel">Тип изменения </label>
        <input type="text" asp-for="ChangeType" class="form-control"/>
        <span asp-validation-for="ChangeType" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

<a class="btn btn-danger" asp-controller="Changes" asp-action="Index" asp-route-id="@Model.ProjectId">Назад</a>